<% content_for :head do %>
  <%= @pinion.css_url("/css/browse.css") %>
<% end %>
<div class="container">
  <% ads.each do |ad| %>
    <div class="mediumAd">
      <div class="thumbnail">
        <img src="<%= ad.thumbnail_url(:size => 300, :cropped => true)%>" />
      </div>
      <div class="metadata">
        <a href="/ads/<%= ad.public_id %>"><h3 class="title"><%= ad.title %></h3></a>
        <h5 class="goal">Goal: $<%= ad.goal %></h5>
        <p class="description"><%= ad.description %>
      </div>
    </div>
  <% end %>
</div>
