<% # Parameters: discussion %>
<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/comments.css") %>
  <script type="text/javascript" src="<%= @pinion.asset_url("/js/comments.js") %>"></script>
<% end %>

<div class="commentList">
  <% discussion.comments.each do |comment| %>
    <%= erb :comment, :locals => { :comment => comment } %>
  <% end %>
</div>

<% if current_user %>
  <div class="commentInput">
    <input type="hidden" name="user_id" value="<%= current_user.public_id %>" />
    <input type="hidden" name="discussion_id" value="<%= discussion.public_id %>" />
    <div class="commentHeader">
      <span>Add a comment</span>
    </div>
    <textarea></textarea>
    <div class="commentControls">
      <a class="button submit">Submit</a>
    </div>
  </div>
<% else %>
  <div class="commentInputPlaceholder">
    <p><a href="/signin?redirect=<%= request.path_info %>">Sign in</a> or <a href="/signup">create an account</a> to comment.</p>
  </div>
<% end %>
