<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/contribute.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<% amount = amount.to_i %>
<div class="container">
  <div id="contributeConfirm">
    <h2>Confirm Your Contribution</h2>
    <table>
      <tr>
        <td>Amount</td>
        <td><%= amount.to_currency %></td>
      </tr>
      <tr>
        <td>Ad</td>
        <td><%= ad.title %></p></td>
      </tr>
    </table>
    <form class="standard" method="post" action="/ads/<%= ad.public_id %>/contribute_submit">
      <input type="hidden" name="amount" value="<%= amount %>" />
      <input type="hidden" name="token" value="<%= token %>" />
      <div class="formField">
        <a href="/ads/<%= ad.public_id %>/contribute">&lt;&lt; Back to contribution details</a>
        <input type="submit" value="Confirm and Submit Payment" />
      </div>
    </form>
  </div>
</div>

