<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/contribute.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <%= @pinion.css_url("/assets/js/form_hints.js") %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= @pinion.js_url("/assets/js/contribute.js") %>
<% end %>

<div id="contribute">
  <form action="/ads/<%= ad.public_id %>/contribute" method="post" id="paymentForm" class="standard">
    <div class="paymentErrors"></div>
    <div class="flashErrors">
      <% if flash[:errors] && flash[:errors].is_a?(Array) %>
        <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <div class="formField">
      <input type="text" class="contributionAmount" name="contribution_amount"
          placeholder="Contribution Amount (USD)" />
    </div>
    <div class="formField">
      <input type="text" size="20" autocomplete="off" class="cardNumber"
          placeholder="Card Number" />
      <input type="text" size="4" autocomplete="off" class="cardCvc"
          placeholder="CVC" />
    </div>
    <div class="formField">
      <label>Expiration</label>
      <input type="text" size="2" class="cardExpiryMonth month" placeholder="MM" />
      <span> / </span>
      <input type="text" size="4" class="cardExpiryYear" placeholder="YYYY"/>
    </div>
    <div class="formField">
      <button type="submit" class="submitButton">Submit Payment</button>
    </div>
  </form>
</div>
