<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/contribute.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript" src="<%= @pinion.asset_url("/js/contribute.js") %>"></script>
<% end %>

<div id="contribute">
  <input type="hidden" id="stripePublicKey" value="<%= STRIPE_PUBLIC_KEY %>" />
  <form action="/ads/<%= ad.public_id %>/contribute_confirm" method="post" id="paymentForm" class="standard">
    <table>
      <tr>
        <td></td>
        <td><div class="paymentErrors"></div></td>
      </tr>
      <tr>
        <td></td>
        <td><%= erb :_flash_errors %></td>
      </tr>
      <tr>
        <td class="label">Contribution Amount <span class="hint">(USD)</span></td>
        <td class="field">
          <input type="text" class="dollarAmount" name="amount" size="4" />
        </td>
      </tr>
      <tr>
        <td class="label">Credit Card Number</td>
        <td class="field"><input type="text" size="20" autocomplete="off" class="cardNumber" /></td>
      </tr>
      <tr>
        <td class="label">Security Code</td>
        <td class="field"><input type="text" size="4" autocomplete="off" class="cardCvc" /></td>
      </tr>
      <tr>
        <td class="label">Credit Card Expiration <span class="hint">(MM/YYYY)</span></td>
        <td class="field">
          <input type="text" size="2" maxlength="2" class="cardExpiryMonth month" />
          <span>/</span>
          <input type="text" size="4" class="cardExpiryYear" maxlength="4" />
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" class="submitButton" value="Proceed to Confirmation" /></td>
      </tr>
    </table>
  </form>
</div>
