<%
# Parameters:
#   ad - the ad to render
%>

<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/details.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="details">
  <div id="detailsLeft">
    <div class="videoWrapper"><%= erb :video_embed, :locals => { :ad => ad } %></div>
    <div id="mainDetails">
      <div id="detailsText">
        <h2><%= ad.title %></h2>
        <p><%= ad.description %></p>
        <div id="submitterDetails">
          <p><%= ad.about_submitter %></p>
        </div>
        <% unless ad.media_plan.nil? %>
          <div id="mediaPlan">
            <h3>Media Strategy</h3>
            <%= ad.media_plan %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="detailsGutter">
    <div class="summary">
      <div class="goalProgress">
        <p>This ad has raised</p>
        <p class="progress"><%= ad.payment_progress.to_currency %></p>
        <p class="of">of a</p>
        <p class="goal"><%= ad.goal.to_currency %></p>
        <p class="of">goal.</p>
      </div>
      <% if current_user %>
        <p>Contributions will be accepted until September 10, 2012.</p>
        <a id="payButton" class="button" href="/ads/<%= ad.public_id %>/contribute">Contribute to this ad</a>
      <% else %>
        <p>Sign in to help air this ad on television!</p>
        <a id="signInButton" class="button" href="/signin?redirect=<%= request.path_info %>">Sign in</a>
      <% end %>
      <div id="goalDisclaimer">
        <p class="aside">The current goals are estimates provided by our media partner. They may be refined as the media plan for this ad is finalized.</p>
      </div>
      <div class="socialSharing">
        <table>
          <tr>
            <td><%= erb :"social/twitter_tweet_ad" %></td>
            <td>
              <% fb_url = "#{request.scheme}://#{request.host_with_port}#{request.path_info}" %>
              <%= erb :"social/facebook_like_ad", :locals => { :url => fb_url } %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
