<%
# Parameters:
#   ad - the ad to render
%>

<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/details.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <%= @pinion.css_url("/assets/css/tabs.css") %>
  <%= @pinion.js_url("/assets/js/tabs.js") %>

  <meta property="og:title" content="<%= ad.title %>" />
  <meta property="og:description" content="Support this ad on Social Teeth!" />
  <meta property="og:image" content="<%= ad.thumbnail_url(:size => 200, :cropped => true) %>" />
<% end %>




<div id="details">
  <div id="detailsLeft">
    <div class="videoWrapper"><%= erb :video_embed, :locals => { :ad => ad } %></div>
    <div id="mainDetails">
      <% if production? && ad.id == 10 %>
        <h4>This ad will begin accepting contributions in October.</h4>
      <% end %>
      
      <div id="customDetailsText">
        <h3>Call to Action!</h3>
        <p><%= ad[:call_to_action] %></p>
         </div>
    

     <div id="tabs">
       <ul>
         <li><a href="#detailsText">Ad Details</a></li>
         <li><a href="#mediaPlan">Submitter Details</a></li>
         <li><a href="#mediaPlan">Media Strategy</a></li>
       </ul>
    
     <div id="detailsText">
        <h3><%= ad.title %></h3>
        <p><%= ad.description %></p>
         </div>
     
        <div id="submitterDetails">
          <p><%= ad.about_submitter %></p>
        </div>
        <% unless ad.media_plan.nil? %>
          <div id="mediaPlan">
            <h3>Media Strategy</h3>
            <%= ad.media_plan %>
          </div>
        <% end %>
       
      </div>
    </div>
  </div>
  <% if !(production? && ad.id == 10) # Exhale %>
    <div id="detailsGutter">
      <div class="summary">
        <div class="goalProgress">
          <p>This ad has raised</p>
          <p class="progress"><%= ad.payment_progress.to_currency %></p>
          <p class="of">of a</p>
          <p class="goal"><%= ad.goal.to_currency %></p>
          <p class="of">goal.</p>
        </div>
        <p>This ad will be open for contributions until <%= ad.deadline.strftime("%B %d") %>.</p>
        <a id="payButton" class="button" href="/ads/<%= ad.public_id %>/contribute">Contribute to this ad</a>
        <div id="goalDisclaimer">
          <p class="aside">The current goals are estimates provided by our media partner. They may be refined as the media plan for this ad is finalized.</p>
        </div>
        <div class="socialSharing">
          <table>
            <tr>
              <% share_url = "#{request.scheme}://#{request.host_with_port}/ads/#{ad.public_id}" %>
              <td><%= erb :"social/twitter_tweet_ad", :locals => { :url => share_url } %></td>
              <td>
                <%= erb :"social/facebook_like_ad", :locals => { :url => share_url } %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
