<%
# Parameters:
#   ad - the ad to render
%>

<% content_for :head do %>
  <%= @pinion.css_url("/css/details.css") %>
  <%= @pinion.css_url("/css/forms.css") %>
<% end %>

<div id="details">
  <div id="letterbox">
    <%= erb :video_embed, :locals => { :ad => ad } %>
  </div>
  <div class="container">
    <div id="mainDetails">
      <div id="detailsText">
        <h1><%= ad.title %></h1>
        <p><%= ad.description %></p>
        <div id="submitterDetails">
          <h3>About The Submitter</h3>
          <p>Name: <%= ad.user.name %></p>
          <p>Email: <%= ad.user.email %></p>
          <p><%= ad.about_submitter %></p>
        </div>
      </div>
      <div id="detailsGutter">
        <div class="goal">
          <p>$<%= ad.goal %> Goal</p>
        </div>
        <div class="summary">
          <p>We need $<%= ad.goal / 4 %> to run this ad for four weeks on Hulu.</p>
          <p>We need $<%= ad.goal %> to run this ad for three weeks on California local television.</p>
        </div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
          <div class="milestone milestone1"></div>
          <div class="milestone milestone2"></div>
          <div class="digitalMilestone">Digital milestone</div>
          <div class="televisionMilestone">Television milestone</div>
        </div>
        <form class="standard">
          <div class="formField">
            <button>Sponsor this ad</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
