<%
# Parameters:
#   ad - the ad to render
%>

<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/details.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <%= @pinion.js_url("/assets/js/details.js") %>
<% end %>

<div id="details">
  <div id="letterbox">
    <%= erb :video_embed, :locals => { :ad => ad } %>
  </div>
  <div class="container">
    <div id="mainDetails">
      <div id="detailsText">
        <h1><%= ad.title %></h1>
        <p><%= ad.description %></p>
        <div id="submitterDetails">
          <h3>About The Submitter</h3>
          <p>Name: <%= ad.user.name %></p>
          <p>Email: <%= ad.user.email %></p>
          <p><%= ad.about_submitter %></p>
        </div>
      </div>
      <div id="detailsGutter">
        <div class="votes">
          <p class="numVotes"><%= ad.votes %></p>
          <p>Votes</p>
        </div>
        <div class="summary">
          <% if current_user %>
            <% if current_user.votes > 0 %>
              <p>You have <%= current_user.votes %> votes remaining. Vote for this ad if you want to see it aired on television!</p>
              <div class="multivote">
                <input type="hidden" name="ad_id" value="<%= ad.public_id %>"/>
                <input type="text" size="2" name="num_votes" value="1" />
                <span class="timesX">X</span>
                <a id="voteButton" class="button">Vote for this ad</a>
              </div>
            <% else %>
              <p>You have <%= current_user.votes %> votes remaining. Check back soon to contribute to the winning ads!</p>
            <% end %>
          <% else %>
            <p>Sign in to vote for ads you want to see aired on television!</p>
            <a class="button" href="/signin?redirect=<%= request.path_info %>">Sign in</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
