<%
# Parameters:
#   ad - the ad to render
%>

<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/details.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="details">
  <div id="letterbox">
    <%= erb :video_embed, :locals => { :ad => ad } %>
  </div>
  <div class="container">
    <div id="mainDetails">
      <div id="detailsText">
        <h1><%= ad.title %></h1>
        <p><%= ad.description %></p>
        <div id="submitterDetails">
          <h3>About The Submitter</h3>
          <p><%= ad.about_submitter %></p>
        </div>
      </div>
      <div id="detailsGutter">
        <div class="summary">
          <% if current_user %>
            <a id="payButton" class="button" href="/ads/<%= ad.public_id %>/contribute">Contribute to this ad</a>
          <% else %>
            <p>Sign in to contribute to ads you want to see aired on television!</p>
            <a class="button" href="/signin?redirect=<%= request.path_info %>">Sign in</a>
          <% end %>
          <div class="socialSharing">
            <table>
              <tr>
                <td><%= erb :"social/twitter_vote_ad" %></td>
                <td>
                  <% fb_url = "#{request.scheme}://#{request.host_with_port}#{request.path_info}" %>
                  <%= erb :"social/facebook_like_ad", :locals => { :url => fb_url } %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
