<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
<% end %>

<div id="home">
  <div id="letterbox" class="faces">
    <div id="siteSummary">
      <h2>Want to change the political advertising landscape?</h2>
      <p>What you see on Social Teeth are political messages created by everyday people and grassroots organizations. You can contribute small amounts to get these specific messages on the air.</p>
    </div>
  </div>

  <div id="banner">
    <span>Put your money where your mouth is.</span>
  </div>

  <div id="categories">
    <div class="category clearfix">
      <div class="container">
        <% featured_ads.each do |ad| %>
          <div class="smallAd">
            <div class="thumbnail">
              <a href="/ads/<%= ad.public_id %>">
                <img src="<%= ad.thumbnail_url(:size => 200, :cropped => true) %>" />
              </a>
            </div>
            <div class="thermometer">
              <div class="thermometerProgress"></div>
            </div>
            <a href="/ads/<%= ad.public_id %>"><h4 class="title"><%= ad.title %></h4></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
