<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="home">
  <div id="letterbox" class="faces">
    <div id="siteSummary">
      <h3>Worried about billionaires and super PACs dominating the airwaves?</h3>
      <h3>Social Teeth is your chance to bite back.</h3>
      <p>What you see on Social Teeth are political messages created by everyday people and grassroots organizations. You can contribute small amounts to get these specific messages on the air.</p>
    </div>
  </div>
  <div id="contestVoting">
    <h2>The 24-hour voting period begins August 14th right after midnight PST.</h2>
    <h2>Allocate 100 votes among your favorite ads!</h2>
  </div>
  <div id="adGrid">
    <table>
      <% ads.each_slice(2) do |slice| %>
        <tr>
          <% slice.each do |ad| %>
            <td>
              <a href="/ads/<%= ad.public_id %>">
                <img src="<%= ad.thumbnail_url(:size => 200, :cropped => true) %>" />
              </a>
              <h3><a href="/ads/<%= ad.public_id %>"><%= ad.title %></a></h3>
              <p class="votes"><%= ad.votes %> votes</p>
              <p class="description"><%= ad.short_description %></p>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
