<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="home">
  <div id="siteSummary">
    <p>What you see on Social Teeth are political messages created by underdogs, everyday people, and grassroots organizations. Donate and get these messages on air!</p>
    <table id="pressLogos">
      <tr>
        <td>
          <a href="http://www.forbes.com/sites/natalierobehmed/2012/07/06/a-startup-takes-on-the-super-pacs"
             target="_blank">
            <img src="/images/press/forbes.png" alt="forbes" />
          </a>
        </td>
        <td>
          <a href="http://www.businessweek.com/articles/2012-09-04/a-kickstarter-for-political-ads"
             target="_blank">
            <img src="/images/press/bloomberg.png" alt="bloomberg" />
          </a>
        </td>
        <td>
          <a href="http://www.guardian.co.uk/world/2012/jun/29/social-teeth-super-pac-crowdfunding"
             target="_blank">
            <img src="/images/press/guardian.png" alt="guardian" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.wired.co.uk/news/archive/2012-07/05/social-teeth"
             target="_blank">
            <img src="/images/press/wired.png" alt="wired" />
          </a>
        </td>
        <td>
          <a href="http://www.mediapost.com/publications/article/181537/aegis-jumptank-carat-help-give-social-teeth-site.html"
             target="_blank">
            <img src="/images/press/mediapost.png" alt="mediapost" />
          </a>
        </td>
        <td>
          <a href="http://www.fastcoexist.com/1680398/a-kickstarter-for-political-ads-will-get-you-airtime-like-a-superpac"
             target="_blank">
            <img src="/images/press/fastcompany.png" alt="fastcompany" />
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div id="adGrid">
    <table>
      <% @ads.delete_if { |ad| ad.id == 10 } if production? # Exhale %>
      <% @ads.each_slice(1) do |slice| %>
        <tr>
          <% slice.each do |ad| %>
            <td>
              <a href="/ads/<%= ad.public_id %>">
                <img src="<%= ad.thumbnail_url(:size => 200, :cropped => true) %>" />
              </a>
              <div class="adMetadata">
                <h3><a href="/ads/<%= ad.public_id %>"><%= ad.title %></a></h3>
                <p class="amount">
                  <span class="progress"><%= ad.payment_progress.to_currency %></span>
                  <span> of <%= ad.goal.to_currency %> goal</span>
                </p>
                <p class="description"><%= ad.short_description %></p>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
