<!DOCTYPE html>
<html>
  <head>
    <title>Social Teeth</title>
    <meta property="og:image"
        content="<%= "#{request.scheme}://#{request.host_with_port}/images/logos/marble200.png" %>" />
    <%= @pinion.css_url("/css/common.css") %>
    <script type="text/javascript" src="<%= @pinion.asset_url("/js/lib/jquery-1.7.2.min.js") %>"></script>
    <script type="text/javascript">
      // Preload hover state
      (new Image()).src = "/images/twitter_bird_gray.png";
    </script>
    <%= yield_content :head %>
    <%= erb :google_analytics if production? %>
  </head>
  <body>
    <div id="wrapper">
      <div id="sidebar">
        <a href="/" class="logo <%= params[:logo] %>">SocialTeeth</a>
        <div class="nav">
          <ul>
            <li><a href="/">Watch</a></li>
            <li>
              <ul>
                <% @ads.each do |ad| %>
                  <li class="<%= production? && ad.id == 10 ? "disabled" : "" %>">
                    <a href="/ads/<%= ad.public_id %>"><%= ad.issue || ad.title %></a>
                  </li>
                <% end %>
              </ul>
            </li>
            <li><a href="/submit">Submit</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/faq">FAQ</a></li>

          </ul>
          <div id="socialMedia"><%= erb :_social_media %></div>
        </div>
      </div>
      <div id="header">
        <div id="signin">
          <% if current_user %>
            <span class="username"><a href="/profile"><%= current_user.name %></a></span> |
            <a href="/signout">Sign Out</a>
          <% else %>
            <a href="/signin?redirect=<%= request.path_info %>">Create an Account</a> |
            <a href="/signin?redirect=<%= request.path_info %>">Sign In</a>
          <% end %>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <div class="container">
          <span class="copyright">&copy; <%= Time.now.strftime("%Y") %> Social Teeth</span>
          <a href="/terms-of-use">Terms of Use</a> |
          <a href="/privacy-policy">Privacy Policy</a> |
          <a href="mailto:contact@socialteeth.org" target="_blank">contact@socialteeth.org</a>
        </div>
      </div>
    </div>
  </body>
</html>

