<!DOCTYPE html>
<html>
  <head>
    <title>Social Teeth</title>
    <%= @pinion.css_url("/css/common.css") %>
    <%= @pinion.js_url("/js/lib/jquery-1.7.2.min.js") %>
    <%= @pinion.js_url("/js/lib/modernizr.custom.66811.js") %>
    <%= yield_content :head %>
    <%= erb :google_analytics if RACK_ENV == "production" %>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <a id="logo" href="/">SocialTeeth</a>
        <nav>
          <ul>
            <li><a href="/submit">Submit Ad</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/press">Press</a></li>
            <% if ENV["RACK_ENV"] != "production" %><li><a href="/labs">Labs</a></li><% end %>
          </ul>
        </nav>
        <div id="signin">
          <% if current_user %>
            <span class="username"><%= current_user.name %></span> |
            <a href="/signout">Sign Out</a>
          <% else %>
            <a href="/signup">Sign Up</a> |
            <a href="/signin?redirect=<%= request.path_info %>">Sign In</a>
          <% end %>
        </div>
      </div>
    </div>
    <% if in_labs? %>
      <div id="subheader" class="labs">
        <div class="container">
          <h2 class="sublogo">Labs</h2>
          <nav>
            <ul>
              <li><a href="/labs/resources">Resources</a></li>
              <li><a href="/labs/discussions">Discussions</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>

