<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/profile.css") %>
<% end %>

<div id="userTitle">Account Preferences For <%= current_user.name %></div>

<div id="profileSettings">
  <form class="standard" action="/profile?redirect=<%= params[:redirect] %>" method="post">
    <table>
      <tr>
        <td>Change Password:</td> <td></td>
      </tr>
      <tr></tr>
      <tr>
        <td class="label">New Password</td>
        <td class="field"><input type="password" name="password" value="<%= flash[:password] %>" /></td>
      </tr>
      <tr>
        <td class="label">Repeat New Password</td>
        <td class="field"><input type="password" name="passwordCheck" value="<%= flash[:password] %>" /></td>
      </tr>
      <tr>
        <td></td>
        <td class="field"><input type="submit" value="Submit Changes" /></td>
      </tr>
    </table>
  </form>
</div>
