<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
  <%= @pinion.css_url("/assets/css/authentication.css") %>
<% end %>

<!--<div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : 'YOUR_APP_ID', // App ID
            channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });
        };
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
      </script>

      <div class="fb-login-button">Login with Facebook</div>
-->

<div id="authentication">
  <div class="authenticationForm">
    <form class="standard" action="/signin?redirect=<%= params[:redirect] %>" method="post">
      <table>
        <tr>
          <td></td>
          <td>
            <% if params[:action] == "signin" %>
              <%= erb :_flash_errors %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="label">Email</td>
          <td class="field"><input type="text" name="email" value="<%= flash[:email] %>" /></td>
        </tr>
        <tr>
          <td class="label">Password</td>
          <td class="field"><input type="password" name="password" /></td>
        </tr>
        <tr>
          <td></td>
          <td class="field"><input type="submit" value="Sign in" /></td>
        </tr>
      </table>
    </form>
  </div>

  <div class="authenticationForm">
    <form class="standard" action="/signup?redirect=<%= params[:redirect] %>" method="post">
      <table>
        <tr>
          <td></td>
          <td><h5>New user? Sign up!</h5></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if params[:action] == "signup" %>
              <%= erb :_flash_errors %>
            <% end %>
          </td>
        </tr>
          <td class="label">Full name</td>
          <td class="field"><input type="text" name="name" value="<%= flash[:name] %>"/></td>
        </tr>
        <tr>
          <td class="label">Email</td>
          <td class="field"><input type="text" name="email" value="<%= flash[:email] %>"/></td>
        </tr>
        <tr>
          <td class="label">Password</td>
          <td class="field"><input type="password" name="password" /></td>
        </tr>
        <tr>
          <td></td>
          <td class="field"><input type="submit" value="Create an Account" /></td>
        </tr>
      </table>
      </div>
    </form>
  </div>
</div>
