<%= @pinion.css_url("/assets/css/forms.css") %>
<%= @pinion.css_url("/assets/css/form_hints.css") %>
<%= @pinion.css_url("/assets/css/authentication.css") %>
<%= @pinion.js_url("/assets/js/form_hints.js") %>

<div class="container">
  <div class="authenticationForm">
    <form class="standard hints" action="/signin" method="post">
      <div class="flashErrors">
        <% if flash[:errors] && flash[:errors].is_a?(Array) %>
          <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="formField">
        <label for="email">Email</label>
        <input type="text" name="email" />
      </div>
      <div class="formField">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="formField">
        <button>Sign in</button>
      </div>
    </form>
  </div>
</div>
