<% content_for :head do %>
  <%= @pinion.css_url("/css/forms.css") %>
  <%= @pinion.css_url("/css/submit.css") %>
  <%= @pinion.js_url("/js/form_hints.js") %>
<% end %>

<div class="container">
  <div id="submitAd">
    <h3>Launch Your Message</h3>
    <!-- <h4 id="breadcrumbs">1. Ad Info&nbsp;&nbsp;<span class="grey">2. Contact Info&nbsp;&nbsp;3. Ad Goals</span></h4> -->
    <h4 id="breadcrumbs">
      <ul>
        <li class="active">1. Ad Info</li>
        <li>2. Contact Info</li>
        <li>3. Ad Goals</li>
      </ul>
    </h4>
    <form class="standard hints" action="/submit" method="post" enctype="multipart/form-data">
      <div class="flashErrors">
        <% if flash[:errors] && flash[:errors].is_a?(Array) %>
          <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="formField">
        <input type="text" name="title" placeholder='Title (e.g., "Eat Real Food")' value="<%= flash[:title] %>"/>
      </div>
      <div class="formField">
        <textarea name="description" placeholder='Describe Your Ad (e.g., "This is an ad about healthy eating, aimed at teenagers. It is in the style of the famous "the truth" anti-smoking campaign.")'><%= flash[:description] %></textarea>
      </div>
      <div class="formField">
        <input type="text" name="url" placeholder="YouTube or Vimeo URL" value="<%= flash[:url] %>" />
      </div>
      <div class="formField">
        <button>Next</button>
      </div>
    </form>
  </div>
</div>
