<% content_for :head do %>
  <%= @pinion.css_url("/css/forms.css") %>
  <%= @pinion.css_url("/css/submit.css") %>
  <%= @pinion.js_url("/js/form_hints.js") %>
<% end %>

<div class="container">
  <div id="submitAd">
    <h3>Launch Your Message</h3>
    <h4 id="breadcrumbs">
      <ul>
        <li>1. Ad Info</li>
        <li class="active">2. Contact Info</li>
        <li>3. Ad Goals</li>
      </ul>
    </h4>
    <form class="standard hints" action="/submit_contact" method="post" enctype="multipart/form-data">
      <div class="flashErrors">
        <% if flash[:errors] && flash[:errors].is_a?(Array) %>
          <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="formField">
        <input type="text" name="email" placeholder='Email' value="<%= flash[:email] %>"/>
      </div>
      <div class="formField">
        <input type="text" name="phone" placeholder='Phone' value="<%= flash[:phone] %>"/>
      </div>
      <div class="formField">
        <textarea name="about_submitter" placeholder='About the Submitter (e.g., "This ad was created by "Eat Real Food", a community-led initiative that hails from South Bend, Indiana. For more from us, including healthy eating posters created by local youth, please visit our website at eatrealsouthbend.com.")'><%= flash[:about_submitter] %></textarea>
      </div>
      <div class="formField">
        <button>Next</button>
      </div>
    </form>
  </div>
</div>
